@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------------------------------*/

body {
  background-color: rgba(26, 194, 194, 0.386);
  padding-top: 30px;
  font-family: monospace;
  text-transform: uppercase;
  transition-duration: 100ms;
}

.calc__body {
  max-width: 360px;
  height: auto;
  margin: 30px auto 0;
  background: linear-gradient(145deg, #1c2538, #5c78b1);
  border-radius: 5px;
  padding: 20px;
  color: rgb(231, 231, 231);
  box-shadow: -10px 10px 5px 1px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column;
}
.displays {
  flex: 1 0 auto;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.display,
.answer {
  text-align: right;
  overflow-wrap: break-word;
  font-size: 60px;
}
.answer {
  font-size: 42px;
  color: rgb(184, 184, 184);
}
.calc__buttons {
  margin-top: 30px;
  font-size: 55px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  flex: 0 1 auto;
}
.button {
  padding: 10px 0;
  margin: 5px 0;
  width: 22%;
  border-radius: 30%;
  background-color: rgba(0, 255, 255, 0.689);
  box-shadow: -2px 2px 3px 0px rgba(117, 122, 125, 1);
}
.number {
  background-color: rgb(36, 47, 66);
}

@media (max-width: 425px) {
  .calc__body {
    max-width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    background: linear-gradient(145deg, #aa9881, #000000);
  }
  body {
    padding: 0;
  }
  .button {
    background-color: rgba(255, 153, 0, 0.171);
    margin: 0;
    width: 25%;
    border-radius: 0;
    box-shadow: none;
  }
  .number {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
